body {
  background-color: #191414;
  color: white;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.Layout {
  margin: 80px 100px;
}

.list-anime {
  /* border: 1px solid green; */
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
.card-anime {
  /* border: 1px solid red; */
  height: 350px;
  padding: 10px;
  border-radius: 8px;
  background-color: rgb(31, 31, 31);
  display: grid;
  transition: all 0.5s;
}
.card-anime:hover {
  background-color: #3e3e3e;
}
.card-anime img {
  height: 300px;
  width: 200px;
  border-radius: 8px;
}
.text-card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.text-card div {
  margin: -15px 0;
}
.artist-name {
  color: #c3c3c3;
  /* border: 1px solid yellow; */
}
.item-name {
  font-weight: bold;
  /* border: 1px solid blue; */
}
a {
  text-decoration: none;
  color: #c3c3c3;
}
.test {
  margin-top: 50px;
  /* border: 2px solid salmon; */
  color: white;
  display: flex;
  flex-direction: column;
}
.btn-group {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

nav ul {
  list-style: none;
  display: flex;
}
nav {
  margin-right: 20px;
  flex: 1;
}
#navbar img {
  padding-top: 5px;
}
#navbar {
  padding: 3px;
  background: rgb(45, 45, 45);
  color: rgb(13, 26, 38);
  position: fixed;
  top: 0;
  height: 60px;
  line-height: 60px;
  width: 100vw;
  z-index: 10;
}

.nav-wrapper {
  margin: auto;
  text-align: center;
  width: 70%;
}
@media (max-width: 768px) {
  .nav-wrapper {
    width: 90%;
  }
}
@media (max-width: 638px) {
  .nav-wrapper {
    width: 100%;
  }
}

.logo {
  float: left;
  margin-left: 28px;
  font-size: 1.5em;
  height: 60px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .logo {
    margin-left: 5px;
  }
}

#navbar ul {
  display: block;
  float: right;
  list-style: none;
  /* margin-right: 14px; */
  margin-top: -2px;
  text-align: right;
  transition: transform 0.5s ease-out;
  -webkit-transition: transform 0.5s ease-out;
}
@media (max-width: 640px) {
  #navbar ul {
    display: none;
  }
}
@media (orientation: landscape) {
  #navbar ul {
    display: inline-block;
  }
}

#navbar li {
  display: inline-block;
}

#navbar li a {
  color: rgb(255, 255, 255);
  display: block;
  font-size: 0.7em;
  height: 50px;
  letter-spacing: 1px;
  margin: 0 20px;
  padding: 0 4px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}

#navbar li a:hover {
  /* border-bottom: 1px solid rgb(28, 121, 184); */
  color: #1db954;
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
}

/* Animated Bottom Line */
#navbar li a:before,
#navbar li a:after {
  content: "";
  position: absolute;
  width: 0%;
  height: 1px;
  bottom: -1px;
  background: #1db954;
}

#navbar li a:before {
  left: 0;
  transition: 0.5s;
}

#navbar li a:after {
  background: #1db954;
  right: 0;
  /* transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1); */
}

#navbar li a:hover:before {
  background: #1db954;
  width: 100%;
  transition: width 0.5s cubic-bezier((0.22, 0.61, 0.36, 1));
}

#navbar li a:hover:after {
  background: transparent;
  width: 100%;
  /* transition: 0s; */
}
